*{ margin: 0; padding: 0; }
body
{
	font-family: 'Nunito', sans-serif;
    background-color:#25274D;
	color: #2E9CCA;
	text-shadow: 0.1em 0.1em 0.3em #464866;
}
#canvasContainter canvas {
  position: absolute;
  height:100vh;
  width:100vw;
}
#main
{
	padding:3em 0em 0em 3em;
	font-size: 32px;
	-ms-transform: skewY(-3deg); /* IE 9 */
    -webkit-transform: skewY(-3deg); /* Safari */
    transform: skewY(-3deg); /* Standard syntax */
}
#Name
{
    font-size:4em;
}
a
{
	color:inherit;
    text-decoration: underline;
}
#icons a{
    text-decoration: none;
}
.hoverLock i {
    color: inherit;
}
.hoverLock:hover i {
    color: #AAABB8;
}
